html,
body,
#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.leaflet-container {
    background: #181425;
}

.marker,
.marker-zoomedIn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.marker img,
.marker-zoomedIn img {
    position: absolute;
    clip-path: circle();
}

.marker h1 {
    position: absolute;

    font-weight: bold;
    font-size: x-large;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.marker-zoomedIn h1 {
    position: absolute;
    top: -40%;

    text-wrap: nowrap;
    font-weight: bold;
    font-size: medium;
    color: #fff;
}


.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: #262b44;
    color: #fff;
}

.leaflet-popup-content a {
    color: #ff0044;
}

.leaflet-popup-content img {
    display: block;
    border-radius: 3px;
}

.leaflet-popup-content textarea {
    resize: none;
    width: 100%;
    background: #5a6988;
    color: white;
    border: none;
    /* padding: 5px 10px; */
    border-radius: 3px;
    cursor: pointer;
    font-weight: bolder;
}
.leaflet-popup-content textarea::placeholder {
    color: #c0cbdc;
}

.static-overlay {
    color: #fff;
    background-color: #5a6988;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.map-button {
    background: #181425;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bolder;
}

.map-button:hover {
    background: #262b44;
}

.legend-content {
    margin: 5px;
}

.legend-content a {
    font-weight: bold;
    text-decoration: unset;
}