html,
body,
#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.leaflet-container {
    background: #181425;
}

.marker {
    display: flex;
    justify-content: center;
    align-items: center;
}
.marker h1 {
    position: absolute;

    font-weight: bold;
    font-size: x-large;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}
.marker img {
    position: absolute;
    clip-path: circle();
}

.marker-zoomedIn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}
.marker-zoomedIn h1 {
    margin: 0;

    text-wrap: nowrap;
    font-weight: bold;
    font-size: medium;
    color: #fff;
}
.marker-zoomedIn img {
    clip-path: circle();
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: #262b44;
    color: #fff;
}

.leaflet-popup-content a {
    color: #ff0044;
}